@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("_AdminDashboardBannerComponentPartial")
    @await Component.InvokeAsync("_AdminDashboardCards1StatisticsComponentPartial")
    <!-- Total Revenue -->
    @await Component.InvokeAsync("_AdminDashboardTotalRevenueComponentPartial")
    <!--/ Total Revenue -->
    @await Component.InvokeAsync("_AdminDashboardCards2StatisticsComponentPartial")
</div>
<div class="row">
    <!-- Order Statistics -->
    @await Component.InvokeAsync("_AdminDashboardDestinationStatisticComponentPartial")
    <!--/ Order Statistics -->
    <!-- Expense Overview -->
    @await Component.InvokeAsync("_AdminDashboardDestinationStatistic2ComponentPartial")
    <!--/ Expense Overview -->
    <!-- Transactions -->
    @await Component.InvokeAsync("_AdminDashboardGuideListComponentPartial")
    <!--/ Transactions -->
</div>

