
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info mb-3">Statik Excel Raporu</a>

<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary mb-3">Tur Rotaları Excel Raporu</a>

