<!-- müşteri yorumları -->
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 pb-lg-0">
            <div class="heading text-center mx-auto">
                <h6 class="sub-title text-center">İşte onların söyledikleri</h6>
                <h3 class="hny-title mb-md-5 mb-4">müşterilerimiz konuşuyor</h3>
            </div>
            <!-- /grids -->
            <div class="testimonial-width">
                <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Proje teslim süresi ve kalitesi beklentimizin çok üzerindeydi. Ekip, iletişim konusunda oldukça profesyonel ve her detayı bizimle paylaştı. İş birliğimizden çok memnun kaldık.
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="assets/images/c1.jpg" class="img-fluid" alt="müşteri-resim">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Rohit Paul</h3>
                                        <p class="indentity">İstanbul, Türkiye</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Geliştirilen sistem, tüm operasyonlarımızı kolaylaştırdı. Teknik destek her zaman ulaşılabilir ve çözüm odaklıydı. Bu hizmeti herkese gönül rahatlığıyla tavsiye ederim.
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="assets/images/c2.jpg" class="img-fluid" alt="müşteri-resim">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Shveta</h3>
                                        <p class="indentity">Ankara, Türkiye</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    Yazılım sürecinde sürekli bilgilendirildik ve her adımda bizimle birlikte ilerlediler. Modern arayüz ve kullanıcı dostu tasarım sayesinde müşterilerimizden çok olumlu geri dönüşler aldık.
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="assets/images/c3.jpg" class="img-fluid" alt="müşteri-resim">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Roy Linderson</h3>
                                        <p class="indentity">İzmir, Türkiye</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    E-ticaret sitemizi sıfırdan oluşturdular ve tüm süreç boyunca sabırlı, hızlı ve çözüm odaklıydılar. Satışlarımız gözle görülür şekilde arttı. Harika bir ekip!
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="assets/images/c4.jpg" class="img-fluid" alt="müşteri-resim">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Mike Thyson</h3>
                                        <p class="indentity">Bursa, Türkiye</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>
<!-- //müşteri yorumları -->
